.content {
    display: grid;
    grid-template-areas: 
    'per des des'
    'per pos pos'
    'his his his';
    grid-template-columns: 1.3fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .person{
    grid-area: per;
    justify-self: center;
    align-self: center;
  }
  
  .posts{
    grid-area: pos;
    margin-right: 5vw;
  }
  
  .post__title{
    font-size: calc(14px + 2vh);
    text-align: center;
  }
  .post__interactive{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 0.3fr;
    grid-template-areas: 
    'txt txt txt'
    '. . but';
    margin: 0 auto;
    grid-row-gap: 5px;
  }
  .post__interactive button{
    grid-area: but;
    min-height: 5vh;
    color: white;
    background-color: #d42d2d;
    font-family: 'Palatino Linotype';
    font-weight: 800;
    font-size: 20px;
  }
  .post__interactive textarea{
    grid-area: txt;
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    font-size: 1.5vw;
  }
  
  .person .img {
    max-width: 200px;
    max-height: 300px;
  }
  .person__description{
    font-size: calc(14px + 1vh);
    grid-area: des;
  }
  .span{
    color: #d42d2d;
    font-weight: 600;
  }