.content {
    grid-area: c;
    background: rgba(51, 48, 56, 0.644);
    color: white;
    font-family: 'Palatino Linotype';
    display: grid;
    grid-template-areas: 
    'per des des'
    'per pos pos'
    'his his his';
    grid-template-columns: 1.3fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .person{
    grid-area: per;
    justify-self: center;
    align-self: center;
  }
  
  .posts{
    grid-area: pos;
    margin-right: 5vw;
  }
  
  .history{
    grid-area: his;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
  
  .post-title{
    font-size: calc(14px + 2vh);
    text-align: center;
  }
  .post-interactive{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 0.3fr;
    grid-template-areas: 
    'txt txt txt'
    '. . but';
    margin: 0 auto;
    grid-row-gap: 5px;
  }
  .post-interactive button{
    grid-area: but;
    min-height: 5vh;
    color: white;
    background-color: #d42d2d;
    font-family: 'Palatino Linotype';
    font-weight: 800;
    font-size: 20px;
  }
  .post-interactive textarea{
    grid-area: txt;
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    font-size: 1.5vw;
  }
  
  .person img {
    max-width: 200px;
    max-height: 300px;
  }
  .person-descr{
    font-size: calc(14px + 1vh);
    grid-area: des;
  }
  span{
    color: #d42d2d;
    font-weight: 600;
  }

  .history-post{
    padding-left: 10vw;
    display: flex;
  }
  
  .history-post img{
    width: 64px;
    height: 64px;
  }
  
  .post-content{
    margin-left: 1vw;
  }
  
  .post-name{
    color: #d42d2d;
  }